:root {
  --sidebar-width: 0px;
  --primary-color: #242633;
  --secondary-color: #f09a24;
}

* {
  font-family: 'Montserrat', 'Lato', 'Work Sans', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
}

.btn-orange {
  background-color: #f09a24;
  color: #fff;
  border-radius: 30px;
}

.btn-orange:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
}

#sidebar-toggle {
  display: none;
  z-index: 1000;
}

#sidebar-toggle:checked ~ * {
  --sidebar-width: 250px;
}

#sidebar-toggle:checked ~ * .sidebar-nav #nav-text {
  display: inline;
}

#sidebar-toggle:checked ~ * .sidebar-nav i {
  font-size: 30px;
}

#sidebar-toggle:checked ~ * .sidebar-nav img {
  display: block;
}

#sidebar-toggle:checked ~ * .menu-icon .hamburger {
  width: 100%;
}

#sidebar-toggle:checked ~ * .menu-icon .hamburger::after {
  width: 100%;
}

#sidebar-toggle:checked ~ * .menu-icon .hamburger::before {
  width: 100%;
}

/*** sidebar NAV ***/
.container-side {
  --sidebar-width: 100px;
  width: 100%;
}

main {
  height: 100%;
  margin-left: var(--sidebar-width);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.sidebar-nav {
  background-color: var(--primary-color);
  position: fixed;
  width: var(--sidebar-width);
  height: 100%;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  z-index: 1000;
}

.sidebar-nav #nav-text {
  display: none;
  margin-left: 10px;
}

.sidebar-nav img {
  margin-left: -16px;
}

.sidebar-nav i {
  font-size: 30px;
}

.sidebar-nav a {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*** MENU ICON ***/
.menu-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 35px;
  -webkit-transform: translateX(var(--sidebar-width));
          transform: translateX(var(--sidebar-width));
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

/*** HAMBURGER ICON ***/
.hamburger,
.hamburger::before,
.hamburger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 85%;
  height: 5px;
  margin: 10px 0;
  background-color: black;
  -webkit-transition: height 150ms ease-in-out;
  transition: height 150ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
}

.hamburger::before {
  top: 0;
}

.hamburger::after {
  bottom: 0;
}

@media (max-width: 576px) {
  .sidebar-nav {
    -webkit-transform: translateX(calc((var(--sidebar-width)) * -1));
            transform: translateX(calc((var(--sidebar-width)) * -1));
  }
  main.sidebar {
    margin: 0 !important;
  }
  .menu-icon {
    width: 35px;
  }
  #sidebar-toggle:checked ~ * .sidebar-nav {
    -webkit-transform: translateX(var(--sidebar-width));
            transform: translateX(var(--sidebar-width));
  }
  #sidebar-toggle:checked ~ * .menu-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0ms;
    transition: all 0ms;
    z-index: 100;
  }
}

.h-nav a {
  color: #000;
}

.h-nav li:last-child a {
  background-color: #f09a24;
  color: #fff;
  border-radius: 30px;
}

.h-nav li:nth-last-child(2) a {
  text-decoration: underline;
}

.img-logo {
  width: 40px;
  height: 60px;
}

footer {
  margin-left: var(--sidebar-width);
  background-color: #242633;
  color: white;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

footer a {
  color: #f09a24;
}

footer .col-md-6 {
  padding-left: 10%;
}

footer .btn-submit {
  background-color: #f09a24;
}

footer .social a {
  margin-right: 20px;
  font-size: 50px;
  color: #f09a24;
  border: 0;
}

footer .social a:hover {
  text-decoration: none;
}

footer .newsletter {
  padding-top: 20px;
}

footer .links {
  padding-top: 10px;
}

.card-login {
  max-width: 400px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 40px;
}

.card-login .btn-login {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.card-login .btn-login:hover {
  background-color: var(--secondary-color);
}

.card-login .card-footer {
  background-color: white;
}

.card-login .card-footer a {
  color: var(--secondary-color);
}
