footer {
	&#homepage {
		width: 100%;
	}
	margin-left: var(--sidebar-width);
	background-color: var(--primary-color);
	color: var(--white);
	transition: all 250ms ease-in-out;

	a {
		color: var(--secondary-color);
	}

	.col-md-6 {
		padding-left: 10%;
	}

	.btn-submit {
		background-color: var(--secondary-color);
	}

	.social a {
		margin-right: 20px;
		font-size: 50px;
		color: var(--secondary-color);
		border: 0;

		&:hover {
			text-decoration: none;
		}
	}

	.newsletter {
		padding-top: 20px;
	}

	.links {
		padding-top: 10px;
	}
}

@media (max-width: 575px) {
	footer {
		margin-left: 0px;
	}
}
