.h-nav a {
	color: var(--black);
}
.h-nav li:last-child a {
	background-color: var(--secondary-color);
	color: var(--white);
	border-radius: 30px;
}

.h-nav li:nth-last-child(2) a {
	text-decoration: underline;
}

.img-logo {
	width: 40px;
	height: 60px;
}

#navbarToggler {
	justify-content: end !important;
}

@media (max-width: 992px) {
	#ul-nav-hor {
		text-align: center;
		padding: 10px;

		.item {
			margin: 8px;
		}
	}
}
