#sidebar-toggle {
	display: none;
	z-index: 1000;
}

#sidebar-toggle:checked ~ * {
	--sidebar-width: 250px;
}

#sidebar-toggle:checked ~ * .sidebar-nav #nav-text {
	display: inline;
}

#sidebar-toggle:checked ~ * .sidebar-nav i {
	font-size: 30px;
}
#sidebar-toggle:checked ~ * .sidebar-nav img {
	display: block;
}
#sidebar-toggle:checked ~ * .menu-icon .hamburger {
	width: 100%;
}
#sidebar-toggle:checked ~ * .menu-icon .hamburger::after {
	width: 100%;
}
#sidebar-toggle:checked ~ * .menu-icon .hamburger::before {
	width: 100%;
}

// #sidebar-toggle:checked ~ * {
// 	margin-left: var(--sidebar-width);
// }

/*** sidebar NAV ***/

.container-side {
	--sidebar-width: 100px;

	width: 100%;
}

main {
	height: 100%;
	margin-left: var(--sidebar-width);
	transition: all 250ms ease-in-out;
}

.sidebar-nav {
	background-color: var(--primary-color);
	position: fixed;
	width: var(--sidebar-width);
	height: 100%;
	transition: all 250ms ease-in-out;
	z-index: 1000;
}

.sidebar-nav #nav-text {
	display: none;
	margin-left: 10px;
}

.sidebar-nav img {
	margin-left: -16px;
}

.sidebar-nav i {
	font-size: 30px;
}

.sidebar-nav a {
	text-align: left;
	display: flex;
}

/*** MENU ICON ***/

.menu-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 35px;
	transform: translateX(var(--sidebar-width));
	cursor: pointer;
	transition: all 250ms ease-in-out;
}

/*** HAMBURGER ICON ***/

.hamburger,
.hamburger::before,
.hamburger::after {
	position: absolute;
	left: 0;
	display: block;
	width: 85%;
	height: 5px;
	margin: 10px 0;
	background-color: black;
	transition: height 150ms ease-in-out;
	transition: transform 250ms ease-in-out;
	cursor: pointer;
}

.hamburger::before,
.hamburger::after {
	content: '';
	position: absolute;
}

.hamburger::before {
	top: 0;
}

.hamburger::after {
	bottom: 0;
}

@media (max-width: 576px) {
	.sidebar-nav {
		transform: translateX(calc((var(--sidebar-width)) * -1));
	}
	main.sidebar {
		margin: 0 !important;
	}
	.menu-icon {
		width: 35px;
	}
	#sidebar-toggle:checked ~ * .sidebar-nav {
		transform: translateX((var(--sidebar-width)));
	}
	#sidebar-toggle:checked ~ * .menu-bg {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.2);
		transition: all 0ms;
		z-index: 100;
	}
}
