:root {
	--sidebar-width: 0px;
	--primary-color: #242633;
	--secondary-color: #f09a24;
}

* {
	font-family: 'Montserrat', 'Lato', 'Work Sans', sans-serif;
}

body {
	min-height: 100vh;
	margin: 0;
}

@import 'components/__buttons';
@import 'layouts/__sidebar';
@import 'layouts/__navbar';
@import 'layouts/__footer';
@import 'pages/__login';
