:root {
	--sidebar-width: 0px;
	--primary-color: #1b64aa;
	--secondary-color: #f09a24;
	--ternary-color: #242633;
	--text-color: #242633;
}

@media (max-width: 575px) {
	main {
		margin-left: 0px !important;
	}
}

* {
	font-family: 'Montserrat', 'Lato', 'Work Sans', sans-serif;
}

body {
	min-height: 100vh;
	margin: 0;
}

figure {
	margin: 0;
	padding: 0;
}

[class*='col-'] {
	padding: 0px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

main {
	&#homepage {
		width: 100%;
	}
	margin-left: var(--sidebar-width);
	transition: all 250ms ease-in-out;
}

@import 'components/__buttons';
@import 'layouts/__sidebar';
@import 'layouts/__navbar';
@import 'layouts/__footer';
@import 'pages/__login';
@import 'pages/__profile';
@import 'pages/__market';
