<?php

    $config['database'] = [
        'name' => 'Cronose', // DATABASE NAME
        'host' => '127.0.0.1', // URL
        'username' => 'root', // MYSQL USER
        'password' => 'root' // USER PASSWORD
    ];

    $config['api'] = [
        'api_url' => 'http://api.cronose.test' // API URL
    ]

?>